.portfolio{
    background-color: black;
    color: white;
    padding: 20px 0 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.portfolio:hover{
    color: teal;
}
/*Cabeçalho*/
.title{
    background-image: url(../../images/Large-Triangles.svg);
    background-color: rgb(12, 12, 75) ;
    margin: 0px 0px 0px;
    display: flex;
    justify-content: center;
}
/*Barra de navegação entre paginas de assuntos*/
#home-botton{
    background-color:rgb(58, 58, 121) ;
    color: #ffffff; 
    margin: 0px 0 20px;
    padding: 0 60px;
    font-size: 20px;
   text-decoration: unset;
}
#sports{
    background-color: rgb(58, 58, 121) ;
    color: #ffffff;
    text-decoration: unset;
    font-size: 20px;
    margin: 0px 0px 20px;
    padding: 0 60px;
}
#cousine{
    background-color:rgb(58, 58, 121) ;
    color: #ffffff;
    text-decoration: unset;
    font-size: 20px;
    margin: 0px 0px 20px;
    padding: 0 60px;
}
.up-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Body color*/
body{
    background-color: rgb(243, 243, 243);
    text-align: center;
    margin: 0;
    width: 100%;
}
.news{
    text-align: center;
}
ol{
    text-align: left;
    margin-left: 32%;
}
ul{
    text-align: left;
    margin-left: 32%;
}
.disclaimer{
    text-align: center;
    font-size: small;
    border-top: 1px dashed white;
    background: url(../../images/Large-Triangles.svg) rgb(12, 12, 75) 2px 2px;
    color: white;
}
.n-picture{
    width: 678px;
    height: 371px;
}
iframe{
    width: 1280px; 
    height: 720px;
}
@media (max-width: 1023px){
    iframe{
        width: 640px;
        height: 360px;
    }
}

@media (max-width: 767px) {
    iframe{
        width: 426px;
        height: 240px;
    }
    #home-botton{
        padding: 0 20px;
        font-size: 20px;
    }
    #sports{
        padding: 0 20px;
        font-size: 20px;
    }
    #cousine{
        padding: 0 20px;
        font-size: 20px;
    }
    .logo {
        width: 300px;
        height: 180px;
    }
    .n-picture{
        width: 400px;
        height: 218px;
    }
}
@media (max-width: 424px) {
    iframe{
        width: 370px;
        height: 208px;
    }
    .n-picture{
        width: 350px;
        height: 191px;
    }
}
@media (max-width: 375px) {
    iframe{
        width: 310px;
        height: 174px;
    }
    .n-picture{
        width: 300px;
        height: 164px;
    }
}