/* GERAL */

:root {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/bg.png");
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* INTRODUAÇÃO */

.menu-navegacao nav {
    width: 100vw;
    height: 80px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.menu-navegacao a {
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 80px;
}

.menu-navegacao a:hover {
    color: #FF5E84;
}

@media (max-width: 768px) {
    .menu-navegacao a {
        margin-right: 50px;  
    }
}

/* INTRODUÇÃO */

.intro-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao h1 {
    font-size: 3.25rem;
    font-weight: normal; 
}

.introducao span {
    font-size: 3.5rem;
    font-weight: bold;
}

.introducao a {
    text-decoration: none;
    color: #FF5E84;
    font-weight: bold;
}


.introducao a:hover {
    color: #FFF;
    font-weight: bold;
}

.introducao ul li {
    display: inline-block;
    margin: 20px 5px;

}

.introducao svg, .next svg {
    width: 52px;
    height: 52px;
    fill: #FFF;
}

.introducao svg:hover, .next svg:hover {
    fill:  #FA9EBA;
}

.next {
    position: absolute;
    bottom: 50px;
}

/* SOBRE */

#sobre {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-conteudo {
    max-width: 1200px;
    margin: 0 80px;
}


.sobre-conteudo img {
    width: 40%;
    max-width: 450px;
    margin-left: 60px;
    float: right;
    border: 1px solid yellow; 
}


.sobre-conteudo h1 {
    padding-bottom: 15px;
    text-align: justify;
    color: #FF5E84;
    font-weight: bold;
    font-size: 2.25rem;
}

.sobre-conteudo p {
    border: 1px solid blue;
    font-size: 1.25rem;
    text-indent: 4rem;
    text-align: justify;
    line-height: 1.5rem;
}


.sobre-conteudo span:hover {
    color: #FA9EBA;
}

.sobre-conteudo h3 {
    text-align: justify;
    border: 1px solid blue;
}

@media (max-width: 1025px) {
    .sobre-conteudo img {
        margin-left: 30px;
    }
}

@media (max-width: 769px) {
    .sobre-conteudo {
        margin: 0 50px;  
    }
}









