/*
#nav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    position: sticky;
    flex-direction: row;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  li a:hover {
    background-color: #111;
  }
*/

  .menu-item {
    padding: 20px;
    margin-bottom: 3px;
  }
  
  .menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
.side-menu a:hover {
    background-color: #111;
    border-radius: 30%;
  }


.side-menu nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.side-menu {
  position: fixed;
  background-color: gray;
  width: 80%;
  height: 100%;
  transform: translateX(-105%);
  transition: transform 0.5s cubic-bezier(0.71, 0.14, 0.7, 1.23);
  z-index: 1;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.menu-icon {
  position: absolute;
  right: -80px;
  font-size: 30px;
}

#toggle:checked + .side-menu {
  transform: translateX(-10px);
}

#toggle {
  display: none;
}


@media (min-width: 480px) {
  .menu-icon {
    display: none;
  }

  .side-menu {
    height: auto;
    width: 100%;
    transform: translateX(0px);
  }

  .side-menu nav {
    flex-direction: row;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .side-menu nav {
    justify-content: space-evenly;
  }
  #apresentacao {
    
  }

}
