/* Início do CSS global */
body {
  background-image: url(./imagens/background.jpg);
  background-size: auto;
}

html {
  cursor: url(./imagens/navi.ico), auto;
}

#nav {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  flex-direction: row;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

li a:hover {
  background-color: #111;
}
/* Fim do CSS Global */

/* Início do CSS exclusivo do index.html */
#apresentacao {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 70px 0;
  background: white;
  -moz-box-shadow: 0 0 50px black;
  -webkit-box-shadow: 0 0 50px black;
  box-shadow: 0 0 50px black;
  border-style: double;
  position: absolute;
  opacity: 0.6;
}

#foto {
  position: relative;
  right: 90px;
  top: 150px;
  border-radius: 50%;
  border: solid;
}

#footer {
  position: absolute;
  display: inline;
  bottom: 0;
}
/* Fim do CSS exclusivo do index.html */

/* Início do CSS da página de projetos */
#projetos {
  margin: 80px;
  width: 80%;
  border: 3px solid green;
  background: white;
  -moz-box-shadow: 0 0 60px black;
  -webkit-box-shadow: 0 0 60px black;
  box-shadow: 0 0 60px black;
  border-style: double;
  opacity: 0.9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-57%, -70%);
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
}

.projetos{
  transition: ease-in-out .3s;
  margin:auto;
  padding: 30px;
  border-radius: 15%;
}

#projetos .legenda{
  width: 300px;
  height: 108px;
  background: gray;
  margin:auto;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  border-radius: 3%;
  /*text-align: center;
  padding-top: 50px;*/
}
.legenda a{
  text-decoration: none;
  color: black;
}
/* Fim do CSS da página de projetos */

/* Inicio do CSS da página de contatos */
#contatos {
  margin: 80px;
  width: 50%;
  border: 3px solid green;
  padding: 70px 0;
  padding-left: 190px;
  background: white;
  -moz-box-shadow: 0 0 50px black;
  -webkit-box-shadow: 0 0 50px black;
  box-shadow: 0 0 50px black;
  border-style: double;
  opacity: 0.9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-57%, -70%);
}

.block {
  width: 300px;
  height: 150px;
  margin: 10px;
  display: inline-flex;
  background: #3f3f3f;
  border-radius: 5px;
  font-size: 22px;
  transition: ease-in-out .3s;
}

.contato {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
/* Fim do CSS da página de contatos */


/* CSS genéricos usados em partes do site abaixo */
#under {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}

@media (min-width: 360px) and (max-width: 768px) {
#nav {
    justify-content: space-evenly;
    flex-direction: column;
  }
#apresentacao{
  padding: 0;
}
#apresentacao p{
  font-size: 12px;
}
#apresentacao h1{
  font-size: 15px;
}
#foto{
  width: 45%;
  height: 15%;
  left: 5px;
  top:0px;
}
#footer{
  right:40px;
  top:360px;
}
#audio{
  width: 100%;
}
}

