body{
    background-image: url(./imagens/background.jpg);
    background-size: auto;
    
}

html{
    cursor: url(imagens/download.ico),auto;
}

#page{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 70px 0;
  background: white;
  -moz-box-shadow: 0 0 50px black;
  -webkit-box-shadow: 0 0 50px black;
  box-shadow: 0 0 50px black;
  border-style: double;
  position: absolute;
  opacity: 0.9;
}
