
body{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 1fr;
  grid-template-areas: "capa" "barra1" "main" "barra2" "image" "foote" 
}
header{
  display: flex;
  grid-area: capa;
  width: 99vw;
  height: 90vh;  

  background: url(./img/back.jpg);
  background-position: center; 
  background-repeat: round;
  background-color:#ffe8c0;
  
  font-size: 8em;
  color: white;
 
  text-align: center; 
  align-items: center;
  justify-content: center; 
}
.fraseDeEfeito{
  font-family: 'Lobster';

  color:#ffe8c0;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color:#9b5d3f;
  text-shadow: 5px 3px #333;
}
.barraSobre{
  display: flex;
  grid-area: barra1;
  height: 8vh; 
  padding-left: 18%;

  align-content: center;
  align-items: center;
  background-color: #8f5437; 
   
  font-family: 'Lobster';
  text-shadow: 3px 3px #333;
  font-size: 3em;  
  
  color: white;

  
}
main{
  display: flex;
  grid-area: main;



  justify-content: center;
}
.containerConteudo{
  display: flex;
  width: 70%;
  flex-wrap: wrap;


  background-color: #ffe8c0;

}
.titulo{
  display: block;

  
  font-size: 2rem;
  margin: 1.5% 0 4% 0;
  
}
.cartaoVisita{
  display: flex;

  justify-content: center;
}
.blocoTexto{
  
  display: block;
  width: 40%;

  text-justify: inter-word;

  margin: 3%;
  padding: 1%;

  
  font-size: 1.4rem;
}
.texto{
  text-justify: inter-word;
  text-align: justify;
  
}
.barraFotos{
  display: flex;
  grid-area: barra1;
  height: 8vh; 
  padding-left: 18%;

  align-content: center;
  align-items: center;
  background-color: #8f5437; 
   
  font-family: 'Lobster';
  text-shadow: 3px 3px #333;
  font-size: 3em;  
  color: white;

}
.containerDeFotos{
  display: flex;
  grid-area: image;

  justify-content: center;

  
  
}
.fotoHorizontal{
  width: 40%;
  height: 1fr;
}
.fotoVertical{
  width: 20%;
}
.fotoPerfil{
  margin: 3% 4%;

  width: 25%;
  border-radius: 30px;
}

footer{
  grid-area: foote;

  background-color:#8f5437;
  font-family: 'Fira Sans', sans-serif;

  border-top: 2px solid black;
  height: 25vh;
  

}

.blocoFooter{
  font-size: 1.3rem;
}
.logo{
  font-family: 'Lobster';
  font-size: 4rem;
  text-shadow: 3px 3px #333;
  text-justify: center;

}
.block{
  display:block;
  margin: 1% 4vw;
}
.tituloFooter{
  font-size: 1.7rem;
  
  
}
.footerContent{
  display: flex;
  height: 100%;

  align-items: center;
  
  margin-left: 15%;
  
  color: white;
}
p :a {
  text-decoration: none;
}

@font-face {
  font-family: Lobster;
  src: url(./font/Lobster.otf);
}
