
body{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 1fr;
  grid-template-areas: "capa" "barra1" "main" "barra2" "image" "foote" 
}
header{
  display: flex;
  grid-area: capa;
  width: 99vw;
  height: 100vh;  

  background: url(./img/IMG-20190212-WA0130.jpg);
  background-repeat: round;
  
  font-size: 8em;
  color: white;
 
  text-align: center; 
  align-items: center;
  justify-content: center;
 
  
  
  
}
.barraSobre{
  display: flex;
  grid-area: barra1;
  height: 8vh; 

  align-content: center;
  align-items: center;
  background-color:blue; 
   

  font-size: clamp(2em, 2.7em, 4em);  
  color: white;

  
}
main{
  display: flex;
  grid-area: main;


  justify-content: center;
}
.containerMain{
  display: flex;
  width: 70%;
  flex-wrap: wrap;


  background-color: gray;

}
.titulo{
  font-size: 1.5rem;
}
.blocoTexto{
  display: block;
  width: 40%;

  margin: 3%;
  padding: 1%;

  
  font-size: 1.3rem;
}
.barraFotos{
  grid-area: barra2;
  height: 50vh ;
}
.containterFotos{
  grid-area: image;
  height: 50vh ;
}
footer{
  grid-area: foote;
}