$gold: rgb(140, 124, 66);
$black-opaque:rgba(0,0,0,0.85);
$text-header:  rgba(255, 255, 255,0.9);
$background-body: rgb(242, 242, 242);
$black-strong: rgba(14, 17, 21,0.85);
$gradient-pink: rgb(255, 71, 84);
$gradient-purple: rgb(232, 44, 232);

$font-body: 'Roboto', sans-serif;
$font-titles: 'Rock Salt', cursive;
$font-option-menu:'Concert One', cursive;