@font-face {
    font-family: "pacifico";
    src: url(../fonts/Pacifico-Regular.ttf);
}
.portfolio{
    background-color: black;
    color: white;
    padding: 20px 0 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.portfolio:hover{
    color: teal;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 
}
.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 204, 255, 0.5), rgba(0,0,255,0.5)),
    url(./images/Large-Triangles.svg);
    background-color: rgb(10, 10, 71);
    width: 100%;
}
.title {
    text-align: center;
}
h1 {
    font-family: "pacifico";
    color: white;
    margin: 0;
}
.title h2{
    font-size: medium;
    font-family: "pacifico";
    color: white;
    margin-top: 3px;
}
.article-header {
    text-align: center;
}
.text {
    text-align: center;
}
.text-org {
    width: 70%;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.image-org {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.link {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    transition: all .5s ease-out;
    width: 100%;
    margin: 3px;
    background-color: rgb(168, 168, 168);
}
.link:hover{
    background-color: rgb(37, 37, 175);
}
iframe{
    width: 1280px; 
    height: 720px;
}
.image {
    max-width: 800px;
    max-height: 500px;
}
@media (max-width: 1439px){
    .image2{
        max-width: 600px;
        max-height: 350px;
    }
}
@media (max-width: 1023px){
    iframe{
        width: 640px;
        height: 360px;
    }
}
@media (max-width: 600px) {
    .image2{
        width: 400px;
        height: 289px;
    }
    .image {
        max-width: 400px;
        max-height: 400px;
    }
}
@media (max-width: 423px) {
    .image {
        width: 300px;
        height: 300px;
    }
    iframe{
        width: 370px;
        height: 208px;
    }
    .image2{
        width: 300px;
        height: 216.75px;
    }
}
@media (max-width: 375px) {
    iframe{
        width: 310px;
        height: 174px;
    }
}
