$primary-color: #3BC14A;
$secondary_color: #CFCFCF;

* {
    margin: 0;
    padding: 0;
  }
  
html,
body {
    height: 100%;
    font-family: "Oxygen";
}


main {
    text-align: center;
    min-height: 100%;
    background-color: $secondary_color;
    padding-top: 70px;
  }
  h1{
      margin-bottom: 10px;
  }
  p{
      justify-items: auto;
  }
  img{
      width:200px;
      height:200px;
  }

.menu-item {
    padding: 20px;
    margin-bottom: 3px;

    a {
        text-decoration: none;
        color: #fff;
        font-family: "Oxygen";
    }
}
  
.side-menu {
    position: fixed;
    background-color: $primary-color;
    width: 70%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.71, 0.14, 0.7, 1.23);

    nav {
        display: flex;
        flex-direction: column;
        position: relative;
      }
  }

.menu-icon {
    position: absolute;
    right: -37px;
    font-size: 30px;
  }
  
  #toggle:checked + .side-menu {
    transform: translateX(0px);
  }
  
  #toggle {
    display: none;
  }

  @media (min-width: 480px) {
    .menu-icon {
      display: none;
    }
  
    .side-menu {
      height: auto;
      width: 100%;
      transform: translateX(0px);
      nav {
        flex-direction: row;
        }
    }
    }

  @media (min-width: 480px) and (max-width: 768px) {
    .side-menu nav {
      justify-content: space-evenly;
    }
  }
