html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    scroll-behavior: smooth;
}

.about-me img {
    width: 20%;
    padding-left: 80px;
}

.navigation a {
    font-weight: bold;
}
  
.navigation  {
    height: 40px;
}

.navigation a:hover {
    color:rgba(226, 221, 230, 0.616);
    background-color: #5a010193;
    padding: 20px;
}

.projects {  
    padding: 16px;  
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
  
.dropdown-content a:hover {
    background-color: #5a010193;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .projects {
    background-color: #5a010193;
}

.about-me {
    display: flex;
    align-items: center;
    text-align: justify;
    margin-bottom: 50px;
    padding-left: 80px;
}

.text {
    width: 30%;
    padding-left: 70px;
    margin-left: 70px;
    font-size: 23px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color:#0c06099c;
    text-decoration: none;
}
.btn::after {
    content: "↑";
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}

h1, h2 {
    font-size: 40px;
}

.menu-item {
    background-color: #0c06099c;
    padding: 20px;
    margin-bottom: 3px;
}
  
.menu-item a {
    text-decoration: none;
    color: #fff;
}
  
.side-menu nav {
    display: block;
    position: relative;
}
  
.side-menu {
    background-color: #a84141;
    width: 20%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out, background-color 1s ease-out;
}
  
.menu-icon {
    position: absolute;
    right: -37px;
    font-size: 30px;
}
  
#toggle:checked + .side-menu {
    transform: translateX(0px);
    background-color: #301313;
}
  
#toggle {
    display: none;
}

#contact img {
    width: 5%;
    padding-top: 30px;
    margin-bottom: 100px;
}

#contact {
    margin-top: 450px;
}