html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    scroll-behavior: smooth;
}

.about-me img {
    width: 20%;
    border-radius: 50%;
    position: relative;
    float: right;
    margin-left: 80px;
}

.navigation a {
    font-weight: bold;
}

.navigation a:hover {
    color:rgba(0, 0, 0, 0.877);
    background-color: #59326bd0;
    padding: 20px;
    font-weight: bold;
}

.projects {  
    padding: 16px;  
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(44, 15, 39);
    min-width: 160px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
  
.dropdown-content a:hover {
    background-color: #59326bd0;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .projects {
    background-color: #59326bd0;
}

.about-me {
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin-bottom: 50px; 
}

.about-me .text {
    width: 30%;
    font-size: 23px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color:#4b0f2d9c;
    text-decoration: none;
}
.btn::after {
    content: "↑";
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}

h1, h2 {
    font-size: 40px;
}

.menu-item {
    background-color: #531d389c;
    padding: 20px;
    margin-bottom: 3px;
}
  
.menu-item a {
    text-decoration: none;
    color: #fff;
}
  
.side-menu nav {
    display: block;
    position: relative;
}
  
.side-menu {
    background-color: #431944;
    width: 20%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out, background-color 1s ease-out;
}
  
.menu-icon {
    position: absolute;
    right: -37px;
    font-size: 30px;
}
  
#toggle:checked + .side-menu {
    transform: translateX(0px);
    background-color: #4d2349d3;
}
  
#toggle {
    display: none;
}

#contact img {
    width: 5%;
    margin-top: 30px;
    margin-bottom: 100px;
}

#contact {
    margin-top: 450px;   
}

#contact img:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

#contact a {
    margin-right: 5px;
}

div .welcome { 
    width: 50%;
    justify-content: center;
    position: relative;
    float: right;
    margin-right: 20rem;
    margin-top: 20%;
    font-size: 70px;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 2; }
}

@media(max-width:680px){
    div .welcome { 
        font-size: 30px;
        width: 30%;
        display: flex;
        margin-right: 10rem;
    }
    
    .about-me .text {
        width: 40%;
        font-size: 18px;
    }

    .about-me img {
        width: 30%;
    }
}

@media(max-width:320px){
    div .welcome { 
        width: 50%;
        font-size: 20px;
        margin: 50% 10%;
    }
    
    .about-me .text {
        width: 45%;
        font-size: 15px;
    }

    .about-me img {
        width: 25%;
    }
}

