section#contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

div.social a {
    margin: 0 30px;
    color: white;
}

div.social a:hover {
    color: #21bf73;
}

div.wpp {
    margin: 10px 0;
}

div.wpp a {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 15px;
    font-size: 1.4rem;
}

div.wpp i {
    margin: 0 10px
}

div.email {
    font-size: 1.4rem;
    margin: 10px 0;
}