html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
}

footer p {
    letter-spacing: 0.13rem;
}