/*IMPORTS*/

@import url("reset.css");
@import url("default.css");
@import url("nav.css");
@import url("sobre.css");
@import url("projetos.css");
@import url("contato.css");
@import url("mediaquerie.css");

/*MAIN CSS*/

body {
    background-image: url(../assets/img/bg.png);
    background-size: cover;
    color: white;
}

header h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
    margin: 2rem 0;
}

header h1:hover {
    color: #21bf73;
    cursor: pointer;
}

section#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

div.welcome p {
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

div.welcome h1 {
    font-size: 6.5rem;
    letter-spacing: 0.9rem;
}

div.welcome h1:hover {
    color: #21bf73;
    cursor: pointer;
}

div.welcome h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

div.btnSobre a:hover {
    color: #21bf73;
}