section nav {
    display: flex;
    font-size: 2rem;
}

section nav a {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0 20px;
}

section nav a:hover {
    color: #21bf73;
}