section nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 2rem;
    height: 120px;
}

section#nav .drop-menu nav .menu-item a {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

section#nav .drop-menu nav .menu-item a li {
    margin: 20px 10px 5px 10px;
}

section nav a:hover {
    color: #21bf73;
}

.drop-menu nav {
    position: relative;
}

.drop-menu {
    background-color: transparent;
    width: 100%;
    transform: translateY(-60%);
    transition: transform 0.3s ease-out, background-color 1s ease-out;
}

.menu-icon {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
}

#toggle:checked+.drop-menu {
    transform: translateY(0px);
    background-color: #101010;
}

#toggle {
    display: none;
}