section#sobre {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.sobre {
    max-width: 700px;
}

div.sobre img {
    width: 200px;
    border-radius: 50%;
    margin: 4rem 0;
}

div.sobre p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    text-align: center;
    margin: 1rem 0;
}

div.skill {
    margin: 3.5rem;
}

div.skill i {
    color: white;
    margin: 0 1rem;
}

div.skill i:hover {
    color: #21bf73;
    cursor: pointer;
}