/* styles do side menu e da home */

@font-face {
    font-family: 'Alegreya';
    src: url("./fonts/Alegreya/Alegreya-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.side-menu {
    height: 100%;
    width: 15%;
    background-color: #0f123b;
    transform: translatex(-100%);
    transition: transform 0.3s ease-out, background-color 1s ease-out;

}

.menu-item{
    background-color: #0d0625;
    padding:20px;
    margin-bottom:3px;
    transition: transform 0.3 ease-out;

}

.menu-item:hover{
    background-color: #0f123b;
}

.side-menu nav{
    display:block;
    position: relative;
}

.menu-item a{
    text-decoration: none;
    color: #fff;
    font-family:"Alegreya";
}

.menu-icon {
    position:absolute;
    right:-37px;
    font-size:30px;
    color: white;
}

#toggle{
    display:none;
}

#toggle:checked + .side-menu {
    transform:translateX(0px)

}

.body-home{
    background-color: #0d0625;
    background-image: url(./img/DFF.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;

}
/* styles contato */

.body-contato{
    background-color: #0d0625;
}

.fotos{
    display: flex;
    justify-content: space-between;
}

#contato{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}
.side-menu-contato {
    height: 100%;
    width: 15%;
    background-color: #0f123b;
    transform: translatex(100%);
    transition: transform 0.3s ease-out, background-color 1s ease-out;

}

.menu-item-contato{
    background-color: #0d0625;
    padding:20px;
    margin-bottom:3px;
    transition: transform 0.3 ease-out;

}

.menu-item-contato:hover{
    background-color: #0f123b;
}

.side-menu-contato nav{
    display:block;
    position: relative;
}

.menu-item-contato a{
    text-decoration: none;
    color: #fff;
    font-family:"Alegreya";
}

.menu-icon-contato {
    position:absolute;
    left:-37px;
    font-size:30px;
    color: white;
}

#toggle:checked + .side-menu-contato {
    transform:translateX(0px);

}

.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin:40px 40px;
}

.query{
    display: flex;
    margin: 10px;
    margin-top: 30px;

}

.query a{
    color: white;
    text-decoration: none;
    font-family: "Alegreya";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width:915px)
{
    .side-menu {
        display: none;
    }
    .menu-icon{
        display: none;
    }
    #toggle {
        display:none;
    }
    .side-menu-contato {
        display: none;
    }
    .menu-icon-contato{
        display: none;
    }
    #toggle {
        display:none;
    }
    
    .page{
        display: flex;
        flex-direction: row;
    }
    .fotos {
        display: block;
        width: 30%;
        height: 30%;
    }
}

@media (min-width:916px)
{
    .query{
        display: none;
    }
}
