@charset "UTF-8";
* {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-out;
  z-index: 1;
}
nav a {
  color: #cfcfcf;
}
nav input.toggle-sidemenu {
  display: none;
}
nav .toggle-sidemenu {
  cursor: pointer;
  position: absolute;
  right: 10%;
  z-index: 2;
}
nav .nav-icon {
  width: 40px;
  height: 40px;
  transition: all 0.6s ease-in-out;
  margin: 0 1px 0 0;
}
@media (max-width: 760px) {
  nav .nav-icon {
    margin: 0 0 1px 0;
  }
}
nav .nav-text {
  display: none;
}
nav .nav-links {
  position: relative;
  height: 100%;
  width: 54px;
  visibility: hidden;
  transition: all 0.6s ease-out;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
nav .nav-links .nav-link {
  display: flex;
  justify-content: flex-start;
  margin: 1vmin;
  align-items: center;
}
nav .nav-link:hover .icon-fill, nav .toggle-sidemenu:hover svg {
  fill: #10ff10;
}
nav .nav-link:hover .icon-stroke {
  stroke: #10ff10;
}
nav .nav-link:hover .nav-text {
  color: #10ff10;
  transition: all 0.6s ease-in-out;
}
nav #toggle-sidemenu:checked + label svg {
  transform: rotate(180deg);
}
nav #toggle-sidemenu:checked ~ .nav-links {
  visibility: visible;
  transition: all 0.6s ease-out;
  min-width: 15vw;
  background-image: linear-gradient(180deg, #840707, #000);
}
nav #toggle-sidemenu:checked ~ .nav-links .nav-text {
  display: inline-block;
  transition: all 0.6s ease-out;
}

@media (max-width: 760px) {
  nav {
    width: 100vw;
    height: 15vh;
  }
  nav .nav-links {
    top: 0;
    padding-left: 40px;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  nav .nav-links .nav-link {
    flex-direction: column;
    align-items: center;
    height: 40px;
  }
  nav .toggle-sidemenu {
    left: 0;
    top: 10%;
  }
  nav #toggle-sidemenu + label svg {
    transform: rotate(90deg);
  }
  nav #toggle-sidemenu:checked + label svg {
    transform: rotate(270deg);
  }
  nav #toggle-sidemenu:checked ~ .nav-links {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #e4171736, #000);
  }
}
.intro-container {
  position: relative;
  left: 15%;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.intro-container .intro-text {
  font-size: 4.5em;
  font-weight: bold;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.29, 1.33, 0.9, 1.14);
}
.intro-container .intro-text:hover {
  transform: translateX(20%);
}
.intro-container #about-text::after {
  content: "OLÁ.";
}
.intro-container #about-text:hover::after {
  content: "SOBRE";
}
.intro-container #project-text::after {
  content: "SOU O";
}
.intro-container #project-text:hover::after {
  content: "PROJETOS";
}
.intro-container #contact-text::after {
  content: "RODRIGO";
}
.intro-container #contact-text:hover::after {
  content: "CONTATO";
}

@media (max-width: 760px) {
  /* =======================================
                  NAVBAR/BG
  ======================================= */
  .intro-container {
    left: 0;
    top: 50%;
  }
}
.img-about {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 22.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.img-about .small-img {
  min-width: 2em;
  max-width: 4em;
  min-height: 2em;
  max-height: 4em;
}
.img-about .medium-img {
  min-width: 3.5em;
  max-width: 6em;
  min-height: 3.5em;
  max-height: 6em;
}
.img-about .large-img {
  min-width: 5em;
  max-width: 7em;
  min-height: 5em;
  max-height: 7em;
}

@media (max-width: 760px) {
  .img-about {
    flex-direction: row;
    width: 100%;
    height: 15%;
    position: relative;
    top: 10%;
  }
}
.img-tooltip + .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: gray;
  border-radius: 5px;
  border: 1px solid #8eea94a8;
  padding: 5px;
}

.img-tooltip:hover + .tooltip-text, .img-tooltip + .tooltip-text:hover {
  visibility: visible;
}

.card {
  width: 27vw;
  height: 40vh;
  box-sizing: border-box;
  background-color: #0a1707;
  border: 5px solid #0a1707;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2%;
}
.card a {
  color: #cfcfcf;
  height: 100%;
  width: 100%;
}
.card a img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.card figcaption {
  position: absolute;
  bottom: 2%;
  font-size: 0.8em;
  text-align: center;
  display: block;
  padding: 1% 0;
  background-color: #0a1707;
}

.card a #no-link {
  cursor: default;
}

@media (orientation: landscape) and (min-width: 760px) {
  .card:hover {
    border: 5px solid #15e01ce0;
  }
  .card:hover img {
    transform: translateY(-4vw);
    transition: all 0.5s cubic-bezier(0.6, 0.5);
  }
  .card:hover #three-lines-description {
    transform: translateY(-35%);
  }
  .card:hover figcaption {
    display: block;
  }
  .card figcaption {
    display: none;
  }
}
.contact svg {
  width: 10vmin;
  height: 10vmin;
  margin: 0 20px;
  fill: white;
}
.contact svg:hover {
  transition: fill 0.4s ease-out;
  fill: #24dc32;
}
.contact svg {
  fill: white;
}

div.inspiration {
  margin-top: 60vh;
}
div.inspiration p {
  text-align: center;
}
div.inspiration a:hover {
  transition: color 0.5s ease-out;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
}

html, body, main {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cfcfcf;
  font-size: calc(10px + 10 * ((100vw - 500px) / (866) ));
  font-family: "Poppins", sans-serif;
}

.bg-photo {
  z-index: -9;
  position: absolute;
  right: 10%;
  top: 0;
  max-height: 100vh;
}

@media (max-width: 760px) {
  .bg-photo {
    right: -10%;
    max-width: 100vw;
  }
}
section {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  padding: 0 54px;
  box-sizing: border-box;
}
section h1 {
  font-size: 2em;
  margin-bottom: 1em;
}
section p {
  margin-bottom: 0.4em;
}

.icon-fill {
  fill: #fff;
}

.icon-stroke {
  stroke: #fff;
}

.white-text {
  color: white;
}

.red-text {
  color: red;
}

.left {
  left: var(--nav-size);
}

.right {
  right: 0;
}

.blue {
  color: #325cf3;
}

.red {
  color: red;
}

.black {
  color: black;
  text-shadow: 0.5px 0.5px white;
}

.italic {
  font-style: italic;
}

.big-font {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.central {
  max-width: 55%;
  left: 22.5%;
  position: relative;
  top: 10%;
}

@media (max-width: 760px) {
  .central {
    max-width: 85%;
    left: 0%;
  }

  section {
    width: 100vw;
    padding: 0 5%;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
.whole-screen {
  position: relative;
  top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*# sourceMappingURL=styles.css.map */
