@use 'variables';
@use 'reusable';

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: all .6s ease-out;
    z-index: 1;
    a {
        color: #cfcfcf;
    }
    input.toggle-sidemenu {
        display: none;
    }
    .toggle-sidemenu {
        cursor: pointer;
        position: absolute;
        right: 10%;
        z-index: 2;
    }
    .nav-icon {
        width: variables.$icon-size;
        height: variables.$icon-size;
        transition: all .6s ease-in-out;
        margin: 0 1px 0 0;
    }
    @media (max-width: 760px) {
        .nav-icon {
            margin: 0 0 1px 0;
        }
    }
    .nav-text {
        display: none;
    }
    .nav-links {
        position: relative;
        height: 100%;
        width: variables.$nav-size;
        visibility: hidden;
        transition: all .6s ease-out;
        padding-top: variables.$icon-size + 5px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        .nav-link {
            display: flex;
            justify-content: flex-start;
            margin: 1vmin;
            align-items: center;    
        }
            
    }
    .nav-link:hover .icon-fill, .toggle-sidemenu:hover svg {
        fill: #10ff10;
    } 
    .nav-link:hover {
        .icon-stroke {
            stroke: #10ff10;
        }
        .nav-text {
            color: #10ff10;
            transition: all .6s ease-in-out;
        }
    } 
    #toggle-sidemenu:checked{
        + label svg {
            transform: rotate(180deg);
        }
        ~ .nav-links {
            visibility: visible;
            transition: all .6s ease-out;
            min-width: 15vw;
            background-image: linear-gradient(180deg, #840707, #000);
            .nav-text {
                display: inline-block;
                transition: all .6s ease-out;
            }
        }
    }     
}

@media (max-width: 760px) {
    nav {
    width: 100vw;
    height: 15vh;
        .nav-links {
            top: 0;
            padding-left: variables.$icon-size;
            padding-top: 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            @include reusable.fullsize;
            .nav-link {
                flex-direction: column;
                align-items: center;
                height: variables.$icon-size;
            }
        }
        .toggle-sidemenu {
            left: 0;
            top: 10%;
        }
        #toggle-sidemenu {
            + label svg{
                transform: rotate(90deg);
            }
            &:checked {
                + label svg {
                    transform: rotate(270deg);
                }
                ~ .nav-links {
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(90deg, #e4171736, #000)
                }
            }
        }
    }
}