@use 'variables';
@use 'reusable';
@use 'reset';
@use 'navbar';
@use 'intro';
@use 'about';
@use 'project';
@use 'contacts';

::-webkit-scrollbar {
    width: 0;
}
html, body, main {
    @include reusable.fullsize;
}
body {
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: variables.$font-color;
    font-size: variables.$font-size;
    font-family: 'Poppins', sans-serif;
}
.bg-photo {
    z-index: -9;
    position: absolute;
    right: 10%;
    top: 0;
    max-height: 100vh;
}
@media (max-width: 760px) {
    .bg-photo {
        right: -10%;
        max-width: 100vw;
    }
}
section {
    @include reusable.fullsize;
    display: block;
    position: relative;
    padding: 0 variables.$nav-size;
    box-sizing: border-box;
    h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 0.4em;
    }
}
// =========================================
//             GENERIC CLAASSES
// =========================================
            
.icon-fill {
    fill: #fff;
}
.icon-stroke {
    stroke: #fff;
}
.white-text {
    color: white;
}
.red-text {
    color: red;
}
.left {
    left: var(--nav-size);
}
.right {
    right: 0;
}
.blue {
    color: #325cf3;
}
.red {
    color: red;
}
.black {
    color: black;
    text-shadow: 0.5px 0.5px white;
}
.italic {
    font-style: italic;
}
.big-font {
    font-size: 1.25em;
    margin-bottom: .8em;
}
.central {
    @include reusable.central(variables.$central-div, variables.$central-div);
    position: relative;
    top: 10%;
}
@media (max-width: 760px) {
    .central {
        @include reusable.central(85%, 100%);
    }
    section {
        width: 100vw;
        padding: 0 5%;
    }
    .left {
        left:0;
    }
    .right {
        right: 0;
    }
}
.whole-screen {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}