
:root{
    --color-background-body: rgb(242, 242, 242);
    --color-text-header:  rgba(255, 255, 255,0.9);
    --color-black-opaque:rgba(0,0,0,0.85);
    --color-black-strong: rgba(14, 17, 21,0.85);
    --color-gold: rgb(140, 124, 66);
    --color-gradient-pink: rgb(255, 71, 84);
    --color-gradient-purple: rgb(232, 44, 232);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--color-background-body);
    font-size:clamp(1rem,2.5vw,1.3rem);
    font-family: 'Roboto', sans-serif;
    color: var(--color-black-opaque);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h2{
    font-family: 'Rock Salt', cursive;
}

header{
    background: var(--color-black-opaque);
    color: var(--color-text-header);
    display: flex;
    flex-direction: column;
    font-family: 'Concert One', cursive;
    height: 90vh;
}

input.toggle{
    display: none;
}

.menu-mobile{
    background: var(--color-gold);
    background-position-y: bottom;
    position: relative;
    transform: translateX(-100%);
    width: 65%;
    transition: 400ms ease-out;
}

.menu-mobile ul{
    padding: 0.625rem 0.5rem;
}

.menu-mobile ul a{
    display: flex;
    align-items: center;
}

.menu-mobile ul a img{
    margin-right: 0.625rem;
}

.menu-mobile ul a:hover{
    color: var(--color-black-opaque);
}

.menu-icon{
    position: absolute;
    top:0.5rem;
    right: -1.6rem;
}

.menu-mobile ul a img:hover,
.menu-icon:hover{
    transform: scale(1.1);
}

input.toggle:checked + .menu-mobile{
    transform: translateX(0%);
}

nav{
    display: none;
    position: fixed;
    top:0;
    width: 100vw;
    padding-top:0.8rem;
    padding-bottom: 0.8rem;
    background: var(--color-black-strong);
}

header nav ul{
    display: flex;
    justify-content: center;
}

header nav ul li{
    margin-left:1.5rem;
}

header nav ul li:nth-child(1){
    margin-left:0;
}

header ul a{
    color: var(--color-text-header);
    display: block;
    padding:1rem 1.2rem;
    transition: color 200ms;
}

header ul a:hover{
    color: var(--color-gold);
}

header .content-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input.toggle:checked ~ .content-header{
    margin-top:2rem;
}

header .content-header h1{
    font-family: 'Rock Salt', cursive;
    transition: all 1s;
}

header .content-header h1:hover{
    background: linear-gradient(to right, var(--color-gradient-pink),var(--color-gradient-purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .content-header h1:hover{
    cursor: pointer;
}

header .content-header p.presentation{
    font-family: roboto;
    line-height: 1.5rem;
    text-align: center;
    max-width: 27rem; 
    margin: 0.6rem 0.8rem;
}

#about,#projects,#contact{
    max-width: 85%;
    margin:3rem auto 2rem auto;
}

#about img{
    width: 200px;
}

#about p{
    margin-top:0.5rem;
    line-height: 1.7rem;
    max-width: 36rem;
}

.up{
    color:var(--color-black-strong);
    font-size:1.1rem;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0.8rem;
    right: 0.8rem;
    background:var(--color-gold);
    border-radius: 50%;
    opacity: 0.85;
    text-align: center;
}

.up span{
  position: relative;
  top:30%;
}