:root{
    --color-hover-link: rgba(223, 116, 1,0.8);
    --color-text:rgba(0,0,0,0.85);
    --color-text-header:  rgba(255, 255, 255,0.9);
    --color-background: rgb(242, 242, 242);
    --color-background-nav: rgb(14, 17, 21);
    --color-gradient-one: rgb(255, 71, 84);
    --color-gradient-two: rgb(232, 44, 232);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: var(--color-background);
    font-size:clamp(1rem,2.5vw,1.3rem);
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}

a{
    text-decoration: none;
}

h2{
    font-family: 'Rock Salt', cursive;
}

header{
    background-color: var(--color-text);
    color: var(--color-text-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Concert One', cursive;
    height: 90vh;
}

nav{
    position: fixed;
    top:0;
    width: 100vw;
    padding-top:0.8rem;
    padding-bottom: 0.8rem;
    background: var(--color-background-nav);
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

header ul li{
    margin-left:1.5rem;
}

header ul li:nth-child(1){
    margin-left:0;
}

header ul a{
    color: var(--color-text-header);
    display: block;
    padding:1rem 1.2rem;
    transition: color 200ms;
}

header ul a:hover{
    color: var(--color-hover-link);
}

header .content-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .content-header h1{
    font-family: 'Rock Salt', cursive;
    transition: all 1s;
}

header .content-header h1:hover{
    background: linear-gradient(to right, var(--color-gradient-one),var(--color-gradient-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .content-header h1:hover{
    cursor: pointer;
}

header .content-header p.presentation{
    font-family: roboto;
    line-height: 1.5rem;
    text-align: center;
    max-width: 27rem; 
    margin: 0.6rem 0.8rem;
}

#about{
    height: 70vh;
}

#about,#projects,#contact{
    max-width: 85%;
    margin:2rem auto;
}

#about img{
    width: 200px;
}

#about p{
    margin-top:0.5rem;
    line-height: 1.7rem;
    max-width: 36rem;
}