  /* * Menu da p치gina * */
  
  * {
      margin: 0;
      padding: 0;
  }
  
  html,
  body {
      background-color: #000000;
      scroll-behavior: smooth;
      height: 100%;
  }
  
  .menu-item {
      background-color: #000000;
      padding: 10px;
      margin-bottom: 31px;
  }
  
  .menu-item a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-family: 'Playfair Display', serif;
  }
  
  .side-menu nav {
      display: block;
      position: relative;
  }
  
  .side-menu {
      background-color: #ffffff00;
      width: 20%;
      height: 100%;
      transform: translateX(-100%);
      transition: transform 0.3s ease-out, background-color 1s ease-out;
  }
  
  .menu-icon {
      color: rgb(255, 255, 255);
      position: absolute;
      right: 80px;
      left: 75%;
      top: -0%;
      font-size: 40px;
  }
  
  #toggle:checked+.side-menu {
      position: relative;
      right: -20px;
      top: 10px;
      transform: translateX(-40%);
  }
  
  #toggle {
      display: none;
  }
  /* * Menu da p치gina * */
  /** formata elementos que tem backgrounds  **/
  
  .name {
      font-family: 'Playfair Display', serif;
      font-weight: lighter;
      margin: 0 auto;
      width: 100%;
      max-width: 1920px;
      position: relative;
      min-height: 100%;
      /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); */
      background-position: 50% 0% 0%;
      background-repeat: repeat;
      background-attachment: fixed;
  }
  
  .main {
      font-family: 'Times New Roman';
      color: #FFF;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      position: relative;
      min-height: 0%;
      /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); */
      background-position: 50% 0% 0%;
      background-repeat: repeat;
      background-attachment: fixed;
  }
  /* Define backgrounds dos divs */
  
  #nome {
      background-image: url(images/4.png);
  }
  /** formata texto **/
  
  .name article {
      width: 80%;
      margin: 0 auto;
      padding: 10% 0% 30%;
  }
  
  article h1 {
      color: #FFF;
      font-size: 90px;
      text-align: center;
      margin-top: -15%;
      margin-bottom: 0%;
  }
  
  article p {
      color: #FFF;
      font-size: 25px;
      text-align: center;
      margin-top: 5%;
      margin-bottom: 0%;
  }
  
  #hr_1 {
      margin-top: 460px;
  }
  
  #sobre {
      padding: 5% 2% 5%;
  }
  
  #H2 {
      margin-top: -5%;
      margin-bottom: 2%;
      padding: 5% 0% 2%;
      font-size: 44px;
      text-decoration-line: underline;
  }
  
  #sobretxt {
      font-size: 20px;
  }
  
  .about {
      text-align: center;
  }
  /** Caixinhas maneiras com links **/
  
  #box {
      width: 880px;
      height: auto;
      margin: 15px auto;
      display: block;
      margin-bottom: 50px;
      /* background-color: cyan; */
  }
  
  #box:after {
      display: block;
      content: '.';
      line-height: 0;
      visibility: hidden;
  }
  
  .estilizacao {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
  }
  
  .estilizacao li {
      position: relative;
      display: block;
      /* float: left; */
      width: 400px;
      height: 300px;
      margin: 20px;
      cursor: pointer;
  }
  
  .estilizacao li img {
      width: 100%;
      height: 100%;
      display: block;
      z-index: 999;
      position: absolute;
      transition: .5s;
  }
  
  .conteudo {
      display: flex;
      width: 100%;
      height: 80px;
      background-color: #070e07;
      overflow: hidden;
      color: #fff;
      margin-top: 220px;
  }
  
  .estilizacao li:hover img {
      margin-top: -80px;
  }
  
  .conteudo p {
      display: block;
      color: #fff;
      position: relative;
      /* float: left; */
      width: 250px;
      margin: 10px;
      margin-bottom: 0;
      text-indent: 10px;
  }
  
  .btn-more {
      display: block;
      text-decoration: none;
      color: #fff;
      position: relative;
      float: right;
      padding: 3px 10px;
      background: #23ae80;
      border-radius: 4px;
      margin: 10px;
  }
  
  .nome-secao {
      font-size: 18px;
  }
  
  .descricao {
      font-size: 14px;
  }
  /** Caixinhas maneiras com links **/
  /* * Footer da p치gina * */
  
  .site-fooder {
      width: 100%;
  }
  
  .footer {
      background-color: #2c2c2c00;
      text-align: center;
  }
  
  .footer ul li {
      font-family: 'Times New Roman';
      display: inline-block;
  }
  
  .footer ul li a {
      display: block;
      color: #ffffff;
      padding: 10px 10px;
  }
  
  .footer p {
      display: block;
      color: #ffffff;
      padding: 10px 10px;
  }
  /* * Footer da p치gina * */
  /** Responsive **/
  
  @media screen and (max-width:900px) {
      .menu-item {
          background-color: #ffffff;
          padding: 8px;
          margin-bottom: 0.95px;
      }
      .menu-item a {
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-family: tim;
      }
      .side-menu nav {
          display: block;
          position: absolute;
      }
      .side-menu {
          background-color: #000000;
          width: 60%;
          height: 100%;
          transform: translateX(-100%);
          transition: transform 0.3s ease-out, background-color 1s ease-out;
      }
      .menu-icon {
          color: rgb(255, 255, 255);
          position: absolute;
          right: -100px;
          left: 175px;
          font-size: 40px;
      }
      #toggle:checked+.side-menu {
          position: relative;
          right: -20px;
          top: 10px;
          transform: translateX(-18%);
      }
      #toggle {
          display: none;
      }
      #nome {
          background: rgb(0, 0, 0);
      }
      article h1 {
          color: #FFF;
          font-size: 50px;
          text-align: center;
          margin-top: 70%;
          margin-bottom: 0%;
      }
      article p {
          color: #FFF;
          font-size: 18px;
          text-align: center;
          margin-top: 5%;
          margin-bottom: 0%;
      }
      .about {
          text-align: none;
      }
      #sobre {
          padding: 5% 2% 5%;
      }
      #H2 {
          text-align: center;
          margin-top: 20%;
          margin-bottom: 5%;
          padding: 5% 0% 2%;
          font-size: 33px;
          text-decoration-line: underline;
      }
      #sobretxt {
          margin-right: 20%;
          margin-left: 20%;
          font-size: 18px;
      }
      .estilizacao {
          display: flex;
          flex-direction: column;
          list-style: none;
      }
      #box {
          width: 100vw;
      }
      .estilizacao li {
          position: relative;
          display: block;
          /* float: left; */
          width: 90%;
          height: 180px;
          margin: 20px;
          cursor: pointer;
      }
      .estilizacao li img {
          width: 90%;
          height: 110%;
          margin-left: 4%;
      }
      .conteudo {
          display: none
      }
  }
  /** Responsive **/