html{
    width: 100%;
}
body{
    background-color: #d9e7ff;
    width: 100%;
    height: 100%;
    margin: 0;
}
.portfolio{
    background-color: black;
    color: white;
    padding: 20px 0 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.portfolio:hover{
    color: teal;
}
#orkut{
    background-color: rgb(105, 144, 252);
    width: 100%;
}
#orkut-organization{
    display: flex;
}
#orkut-icon{
   margin: 1px 15px 1px 5px;
}
.td-options{
    color: white;
    margin-right: 15px;
}
#email-sair-search{
   position: absolute;
   right: 0;
}
#sair{
    color: white;
    margin-right: 210px;
}
#email{
    color: white;
    margin-right: 10px;
}
#search{
    background-color: rgb(54, 62, 172);
    width: 180px;
    height: 40px;
    position: absolute;
    right: 0;
    margin: 10px 20px 0 10px;
}
#search p {
    background-color: white;
    padding: 1px 2px 1px 2px;
    margin: 5px 5px 5px 2px;
    text-align: center;
    color: rgb(184, 184, 184);
}
.perfil{
   padding: 3px 12px 20px 3px; 
   margin: 5px 0 0 0;
   background-color: white;
}
#inicio{
    font-size: small;
    color: rgb(72, 121, 255);
}
.texts{
    font-size: medium;
    color: rgb(184, 184, 184);
}
h1{
    margin-bottom: 0;
}
h2{
    margin-top: 0;
    font-size: small;
    color: rgb(184, 184, 184);
}
#box{
  border: 1px solid rgb(184, 184, 184); 
  width: 380px;
}
button{
    color:rgb(72, 121, 255);
    background-color: white;
    border: 2px solid rgb(184, 184, 184);
    margin: 0 0 0 2px;
}
#box_text{
    margin: 0 0 0 5px;
}
.icon{
    width: 30px;
    height: 15px;
    margin: 0;
}
.iconC{
    width: 15px;
    height: 15px;
    margin: 0 3px 0 0;
}
#things-border{
    margin-top: 20px;
    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
}
.things-text{
    margin: 0 5px 0 0;
}
#social{
    font-size: medium;
    color: white;
    background-color: rgb(88, 110, 172);
    width: 40px;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 0;
}
#about-you{
    border-top: 1px solid rgb(184, 184, 184);
}
.about-you-impar{
    font-size: medium;
    color: rgb(153, 153, 153);
    background-color: rgb(186, 203, 250);
    margin: 0;
    height: 40px;
    padding-top: 5px;
    padding-left: 50px;
}
.about-you-par{
    font-size: medium;
    color: rgb(153, 153, 153);
    background-color: rgb(214, 223, 252);
    margin: 0;
    height: 30px;
    padding-top: 5px;
    padding-left: 50px;
}
#aby1{
    margin: 10px 0 0 0;
}
.page-organization{
    display: flex;
    justify-content: center;
    width: 100%;
}
#left-side{
    background-color: white;
    margin: 5px 10px 0 0;
}
#profile-picture{
    height: 180px;
    width: 150px;
    padding: 0 50px 0 50px;
    margin-top: 5px;
}
#left-side h3{
    color: rgb(64, 109, 233);
    margin: 20px 5px 2px 5px;
    border-top: 1px solid rgb(184, 184, 184);
}
.text-right{
    font-size: medium;
    color: rgb(184, 184, 184);
    margin: 0 0 0 5px;
}
#profile-right{
    border-bottom: 1px solid rgb(184, 184, 184);
    margin: 0 5px 0 5px;
}
.font-menu{
    font-size: medium;
    color: rgb(64, 109, 233);
    margin: 2px 0 2px 5px;
}
.font-menu-2{
    font-size: medium;
    color: rgb(64, 109, 233);
    margin: 2px 5px 2px 5px;
    border-bottom: 1px solid rgb(184, 184, 184);
}
#menu1{
    border-bottom: 1px solid rgb(184, 184, 184);
    margin: 0 5px 0 5px;
}
.menu2{
    margin: 5px 5px 5px 5px;
    border: 1px solid  rgb(184, 184, 184);
    background-color: rgb(214, 223, 252);
}
#right-side{
    margin: 5px 0 0 10px;
}
#friends{
    background-color: white;
    padding: 0 10px 2px 0;
    margin-bottom: 5px;
}
#adding-friends{
    font-size: small;
    color: rgb(235, 235, 235);
    background-color: rgb(180, 208, 252);
    width: max-content;
    margin: 3px 3px 10px 3px;
    padding: 2px;
}
#community{
    background-color: white;
    padding: 0 0 2px 0;
}
#right-side h3{
    font-size: medium;
    width: max-content;
    margin: 0 0 0 5px;
}
.friend-community-number{
    margin: 0;
    color: rgb(64, 109, 233);
    font-size: medium;
}
#community-ajust{
    display: flex;
    justify-content: center;
}
#community-place1{
    background-color: rgb(212, 211, 211) ;
    padding: 0;
    margin: 5px 2px 2px 2px;
    width: 70px;
    height: 110px;
}
#community-place2{
    background-color: rgb(212, 211, 211) ;
    padding: 0;
    margin: 5px 2px 2px 2px;
    width: 70px;
    height: 110px;
}
#community-place3{
    background-color: rgb(212, 211, 211) ;
    padding: 0;
    margin: 5px 2px 2px 2px;
    width: 70px;
    height: 110px;
}
#see-all{
    font: small;
    color: rgb(64, 109, 233);
    text-decoration: rgb(64, 109, 233) underline;
    margin: 0 0 0 5px;
}
@media (max-width: 1023px) {
    #orkut-organization{
        display: none;
    }
    .page-organization{
        flex-direction: column;
        align-items: center;
    }
    #left-side {
        display: flex;
    }
    #right-side{
        display: flex;
    }
    #friends {
        margin-right: 10px;
    }
    #profile-picture{
        height: 100px;
        width: 90px;
        padding: 0 0 0 10px;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    #right-side{
        flex-direction: column;
        align-items: center;
    }
    #friends {
        margin-right: 0;
    }
    .menu2 {
        margin: 2px 2px 2px 2px;
    }
    #left-side {
        margin: 0;
    }
    .perfil{
        padding: 3px;
    }
}
@media (max-width: 424px){
    #menu1{
        margin: 0;
    }
    #profile-right{
        margin-right: 0;
    }
}
