@font-face {
    font-family: "pacifico";
    src: url(./fonts/Pacifico-Regular.ttf);
}
body {
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
/*top-page*/
.mobile-menu {
    display: none;
    background-color: teal;
    width: 70%;
    height: 100%;
    z-index: 1;
    transform: translatex(0);
    transition: all 0.4s ease-out;
}
#menu-switch:checked + .mobile-menu{
    transform: translatex(100%);
}
.work {
    height: 100px;
    width: 200px;
}
.work:hover{
    background-color: rgb(15, 48, 48);
    padding: 5px;
}
#work-nav {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}
#menu-switch{
    display: none;
}
.menu-icon{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 72%;
    top: 3px;
}
.menu-icon:hover{
    color: teal;
}
.pc-menu {
   display: flex; 
   position: absolute;
   left: 450px;
   top: 5px;
}
#main-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-org {
    background-image: url(./imageS/pexels-felix-mittermeier-956999.jpg);
    background-position-x: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1920px;
}
h1 {
    font-family: "pacifico";
    font-size: 70px;
    color: white;
    margin:0 0 5px 0;
    text-decoration: underline white;
}
#main-header h2{
    margin: 0 0 40px 0;
    color: white;
}
#main-header a {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}
#main-header a:hover {
    color: teal;
}
#main-header nav {
    display: flex;
    justify-content: center;
}
/*main*/
.about-me {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
main div{
    background-image: url(./images/Polka-Dots.svg);
    background-color: rgb(36, 36, 36);
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
}
.about-me-content{
    display: flex;
    flex-direction: column;
}
.about-me-image {
    display: flex;
    justify-content: flex-end;
}
.me{
    width: 450px;
    height: 450px;
    margin-right: 40px;
}
.text {
    color: white;
    margin: 10px 0 0 0;
    width: 550px;
}
.title{
    color: white;
    margin: 10px 0 0 0;
}
/*previus pages*/
.previus-pages {
    display: flex;
    justify-content: space-evenly;
}
.previus-pages-org {
    width: 100%;
    max-width: 1920px;
    background-color: teal;
    margin-top: 40px;
}
.previus-pages p{
    color: white;
    text-align: center;
    margin-top: 0;
}
.text-section-2{
    color: white;
    text-align: center;
    margin-bottom: 2px;
}
.previus-image-org {
    display: flex;
    justify-content: space-evenly;
}
.previus-pages-image {
    height: 300px;
    width: 600px;
    margin-bottom: 20px;
}
.previus-pages-image:hover{
    background-color: rgb(15, 48, 48);
    padding: 5px;
}
/*footer*/
.footer{
    background-color: black;
    margin-top: 40px;
}
footer h2{
    text-align: center;
    color: white;
}
.icon-organization{
    display: flex;
    justify-content: center;
}
.icon {
    font-size: 50px;
    color: white;
    margin: 10px;
}
.icon:hover {
    color: teal;
}
@media (max-width: 1440px) {
    .pc-menu {
        position: absolute;
        left: 2px;
        top: 5px;
     }
}
@media (max-width: 1024px) {
    .previus-pages-image {
        height: 240px;
        width: 500px;
        margin-bottom: 20px;
    }
    .pc-menu {
        position: absolute;
        left: 2px;
        top: 5px;
     }
}
@media (max-width: 1023px) {
    .pc-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        background-color: teal;
        right: 100%;
        top: 0;
        width: 70%;
        height: 100%;
        transform: translateX(0);
        transition: all 0.4s ease-out;
    }
    .menu-icon{
        color: white;
        font-size: 30px;
        position: absolute;
        left: 100%;
        top: 3px;
    }
    .about-me-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .me{
        width: 300px;
        height: 300px;
        margin-right: 40px;
    }
    .text {
        color: white;
        margin: 10px 0 0 0;
        width: 390px;
    }
    .previus-image-org {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
    @media (max-width: 767px) {
        h1 {
            font-size: 50px;
        }
        main div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .about-me-content{
            display: flex;
            flex-direction: column;
        }
        .me{
            width: 200px;
            height: 200px;
            margin-right: 5px;
        }
        .text {
            color: white;
            margin: 10px 0 0 0;
            width: 300px;
            text-align: center;
        }
        .previus-pages-image {
            height: 200px;
            width: 400px;
            margin-bottom: 20px;
        }
    @media (max-width: 375px) {
        h1 {
            font-size: 40px;
        }
        .previus-pages-image {
            height: 150px;
            width: 300px;
            margin-bottom: 20px;
        }
    }
    @media (max-width: 320px) {
        h1 {
            font-size: 40px;
        }
    }
}