:root {
    font-size: 16px;
    --bg-gradient1: #355C7D;
    --bg-gradient2: #6C5B7B;
    --bg-gradient3: #C06C84;

}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to top right, var(--bg-gradient1), var(--bg-gradient2), var(--bg-gradient3));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f9eac3;
}

.main-content {
    margin-left: 5rem;
  
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}


.nav-item {
    width: 100%;
}


.nav-icon:hover {
    fill: #f4791f;
}
.nav-bar {
    background-image: linear-gradient(to top, #c31432, #240b36);
    color: white;
    width: 5rem;
    height: 100vh;
    position: fixed;
    top: 0;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
}

#toggle {
   display: none;
}

.nav-bar:hover {
    width: 16rem;
    background-image: linear-gradient(to top, #c31432, #240b36);
}


.profilePicture {
    border-radius: 50%;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: white;
}

.nav-bar:hover .link-text {
    display: block;
}
.link-text {
    display: none;
    margin-left: 1rem;
}