:root {
    font-size: 16px;
    --bg-gradient1: #355C7D;
    --bg-gradient2: #6C5B7B;
    --bg-gradient3: #C06C84;

}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to top right, var(--bg-gradient1), var(--bg-gradient2), var(--bg-gradient3));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #f9eac3;
}

.main-content {
    margin-left: 5rem;
  
}


.navBar {
    background-image: linear-gradient(to top, #c31432, #240b36);
    color: white;
    width: 25rem;
    height: 100vh;
    transform: translateX(-80%);
    transition: transform 0.3s ease-out, background-color 1s ease-out;
    position: fixed;
    top: 0;
}



#toggle {
   display: none;
}

#toggle:checked + .navBar {
    transform: translateX(0px);
    background-image: linear-gradient(to top, #c31432, #240b36);
}

#home-logo {
    font-size: 2.5rem;
    margin: 0;
    left: 21.25rem;
    position: absolute;
    z-index: 2;
}   

#home-logo:hover {
    color: #f4791f; 
}

.navItem {
    padding: 1rem;
}

.profilePicture {
    border-radius: 50%;
}

.navItem:hover {
    color: #f4791f;
}