*{
    font-family: 'IBM Plex Sans', sans-serif;
}

body, h1,ul,li,p,a{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration:none;  
}

.container{
    display: flex;
}

@media (max-width:1090px){
    .container{
        display: inline;
    }
}

/*Gerais*/

/*perfil*/

    .perfil{
        min-width: 392px;
        height: 100vh;
        background-color: #A13838;
    }
    .perfil img{
        margin: 181px auto 50px auto;
    }

    .cor{
        color: #919191 !important;
    }
    
    .perfil ul li a{
        font-weight: bold;
        font-size: 23px;
        color: #FFFFFF;
        margin-left: 163px;
        line-height: 50px;
    }

    @media (max-width:1090px){

        .perfil{
            min-width: 302px;
            padding: 0 2%;
            height: 500px;
        }

        .perfil img{
            margin: 0 auto;
            padding-top: 100px;
        }

        .perfil ul li a{
            font-weight: bold;
            font-size: 23px;
            color: #FFFFFF;
            margin-left: 0px;
            line-height: 0px;
            
        }

        .perfil ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 80px;
        }

        .perfil ul li + li{
            margin-left: 20px;
        }

        h1{
            text-align: center;
        }

        .copy{
            margin-top: 100px;
            display: block !important;
        }
    }
/*perfil*/

/*sobre*/

    .sobre{
        width: 724px;
        margin: 0 auto;
        padding: 0 2%;
    }

    h1{
        font-size: 50px;
        color: #840D0D;
        font-style: italic;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .sobre ul li{
        font-size: 23px;
        font-weight: bold;
        color: black;
        padding: 7.5px;
    }

    .sobre ul li img{
        display: inline-block;
        padding-right: 10px;
    }

    .sobre p{
        color: #919191;
        font-style: italic;
        font-size: 20px;
        margin-top: 102px;
    }

    @media (max-width:790px){

        .sobre{
            width: 95%;
            margin: 0 0;
            padding: 0 2%;
        }

        h1.titulo{
            font-size: 40px;
        }
    
        .sobre ul li{
            font-size: 18px;
            padding: 7.5px;
        }
        

        .sobre p{
            text-align: justify;
            font-size: 18px;
        }
    }


/*sobre*/

/*footer*/

    .copy{
        display: none;
    }

    footer{
        padding: 20px;
        background-color: #A13838;
    }

    footer p{
        font-size: 15px;
        font-weight: 600;
        color: white;
        text-align: center;
    }
/*footer*/
