*{
    font-family: 'IBM Plex Sans', sans-serif;
}

body, h1,ul,li,p,a{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration:none;  
}

.container{
    display: flex;
}

@media (max-width:1090px){
    .container{
        display: inline;
    }
}

/*Gerais*/

/*perfil*/

    .perfil{
        min-width: 392px;
        height: 100vh;
        background-color: #A13838;
    }
    .perfil img{
        margin: 181px auto 50px auto;
    }

    .cor{
        color: #919191 !important;
    }
    
    .perfil ul li a{
        font-weight: bold;
        font-size: 23px;
        color: #FFFFFF;
        margin-left: 163px;
        line-height: 50px;
    }

    @media (max-width:1090px){

        .perfil{
            min-width: 302px;
            padding: 0 2%;
            height: 500px;
        }

        .perfil img{
            margin: 0 auto;
            padding-top: 100px;
        }

        .perfil ul li a{
            font-weight: bold;
            font-size: 23px;
            color: #FFFFFF;
            margin-left: 0px;
            line-height: 0px;
            
        }

        .perfil ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 80px;
        }

        .perfil ul li + li{
            margin-left: 20px;
        }

        h1{
            text-align: center;
        }
    }
/*perfil*/

/*sobre*/

.sobre{
    max-width: 7800px;
    margin: 0 auto;
    padding: 0 2%;
}

h1{
    font-size: 50px;
    color: #840D0D;
    font-style: italic;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 90px 30px;
}

.box-box .paragrafo{
    margin-top: 25px;
}

@media (max-width:830px){
    .box {
        display: inline;
    }

    .box-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px 30px 30px;
    }
}

@media (max-width:600px){
    .box-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 70px 0px;
    }
}