@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf');
}

*{
  margin: 0;
  padding: 0
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  
}

.menu nav {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: #000;
  align-items: center;
}


ul li {
  padding: 10px 16px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: #FFF;
}

li a:hover{
  color: rgba(231,133,217,1)
}

/* Estilização MENU */
/*
.menu nav {
  display: block;
  position: relative;
}

.menu {
  margin: 0 auto;
  background-color: #000;
  width: 10%;
  height: 70px;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out, background-color 1s ease-out;
}

ul {
  background-color: #000;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

li a {
  text-decoration: none;
  color: #fff;
}

li a:hover{
  color: rgba(231,133,217,1)
}

.menu-icon {
  position: absolute;
  top: 100%;
  font-size: 45px;
  left: 48px;
}

#toggle:checked + .menu {
  transform: translateY(0);
}

#toggle {
  display: none;
}*/

.container  {
    background: linear-gradient(90deg, rgba(232,116,198,1) 0%, rgba(235,140,229,0.6110644086736257) 50%, rgba(231,133,217,1) 100%);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin-top: 150px;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

 .description {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
  }

  .footer {
    background: #000;
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
  }

 .footer img {
    width: 40px;
    height: 40px;
    padding: 10px 12px;
    transition: all .2s ease-in-out;
 }

 .footer img:hover{
    transform: scale(1.2);
 }

 /* ABOUT PAGE */
 
 .about-box{
    display: flex;
    width: 80vh;
    justify-content: center;
    margin-top: 200px;
}

 .about-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 27px;
    line-height: 45px;
    text-align: justify;
    transition: 0.5s;
    color: rgba(0, 0,0, .6);
 }

 .about-text:hover {
  color: rgba(0, 0,0, 1);
 }
  
  @media (max-width: 400px){
  
    body {
      background: linear-gradient(90deg, rgba(232,116,198,1) 0%, rgba(235,140,229,0.6110644086736257) 50%, rgba(231,133,217,1) 100%);
    }
    
    .container{
      background-color: #fff;
    }
    .menu nav {
      height: 15vh;
    }

    ul li {
      font-size: 30px;
    }

    .footer {
      text-align: center;
      height: 15vh;
    }

    .footer img {
      text-align: center;
      width: 50px;
      height: 50px;
   }

   .name {
    margin-top: 100px;
    font-size: 70px;
    text-align: center;
  }

  .description {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }

  .about-text {
    margin-top: -100px;
    font-size: 20px;
    line-height: 40px;
    text-align: justify;
    width: 300px;
    transition: 0.5s;
    color: rgba(0, 0,0, .6);
 }

  }
   
 
 