@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 182, 254);
}

.menu {
  text-align: center;
  overflow: hidden;
  list-style-type: none;
  background-color: #000;
  color: white;
}

  li {
    display: inline-block;
    padding: 20px 16px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
  }

  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
  }

  ul li:hover {
    opacity: 0.5;
  }

  .name {
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
    margin-top: 150px;
    font-family: 'Ubuntu', sans-serif;
  }

  .description {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 300;
  }

  .footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .footer img {
    width: 50px;
    height: 50px;
    padding: 10px 12px;
    margin-top: 150px;
    transition: all .2s ease-in-out;
 }

 .footer img:hover{
  transform: scale(1.2);
 }


  