.img-about {
    position: absolute;
    top: 100%;
    height: 100vh;
    width: calc((100% - var(--central-div))/2);
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.small-img {
    min-width: 2em;
    max-width: 4em;
    min-height: 2em;
    max-height: 4em;
}
.medium-img {
    min-width: 3.5em;
    max-width: 6em;
    min-height: 3.5em;
    max-height: 6em;
}
.large-img {
    min-width: 5em;
    max-width: 7em;
    min-height: 5em;
    max-height: 7em;
}
.contact svg {
    margin: 0 20px;
    fill: white;
}
.contact svg:hover {
    fill: #10ff10;
}
.img-tooltip + .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: gray;
    border-radius: 5px;
    border: 1px solid #8eea94a8;
    padding: 5px;
}
.img-tooltip:hover + .tooltip-text, .img-tooltip + .tooltip-text:hover {
    visibility: visible;
    /* padding: 5px; */
}