.contact svg {
    width: 10vmin;
    height: 10vmin;
}
div.inspiration {
    margin-top: 60vh;
}
div.inspiration p {
    text-align: center;
}
.inspiration a:hover {
    transition: color .5s ease-out;
    color: white;
}
.contact svg {
    margin: 0 20px;
    fill: white;
}
.contact svg:hover {
    transition: fill .4s ease-out;
    fill: #24dc32;
}