nav {
    position: fixed;
    left: 0;
    background-color: #3c423c36;
    width: var(--icon-size);
    height: 100vh;
    padding: 0 var(--icon-padding);
}
.nav-icon {
    position: absolute;
    /* top: 0;
    left: 0; */
}
.nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav {
    position: relative;
    height: calc(5*var(--icon-size));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav svg {
    width: var(--icon-size);
    height: var(--icon-size);
    stroke: white;
}
nav svg:hover {
    stroke: #10ff10;
}