.whole-screen {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.whole-screen a{
    color: var(--font-color);
}
figure {
    width: 33vw;
    height: 35vh;
    box-sizing: border-box;
    background-color: #0a1707;
    border: 5px solid #0a1707;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2%;
}
figure:hover {
    border: 5px solid #15e01ce0;
}
figure:hover img {
    transform: translateY(-4vw);
    transition: all .5s cubic-bezier(0.6, 0.5);
}
figure:hover #three-lines-description {
    transform: translateY(-6vw);
}
figure img {
    min-height: 30vh;
    max-height: 100%;
    border-radius: 10px;
}
figcaption {
    position: absolute;
    bottom: 2%;
    font-size: 0.8em;
    text-align: center;
    display: none;
}
figure:hover figcaption {
    display: block;
}
