@import "reset.css";
@import "variables.css";
@import "about.css";
@import "project.css";
@import "navbar.css";
@import "intro.css";
@import "contact.css";

/* =======================================
                GENERAL
======================================= */
::-webkit-scrollbar {
    width: 0;
}
html, body {
    height: 100%;
}
section {
    display: block;
    height: 100%;
    width: 100vw - var(--nav-size); 
    margin-left: var(--nav-size);
}
body {
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: 'Poppins', sans-serif;
}
section h1 {
    font-size: 2em;
    margin-bottom: 1.3em;
}
section p {
    margin-bottom: 0.4em;
}
.left {
    left: var(--nav-size);
}
.right {
    right: 0;
}
.italic {
    font-style: italic;
}
.big-font {
    font-size: 1.25em;
    margin-bottom: .8em;
}
.central {
    max-width: var(--central-div);
    position: relative;
    left: calc((100% - var(--central-div))/2);
    top: 10%;
}
/* =======================================
                BACKGROUND
======================================= */
.bg-photo {
    z-index: -9;
    position: absolute;
    right: 10%;
    top: 0;
    min-height: 60vh;
    max-height: 100vh;
}