:root {
    --icon-size: 40px;
    --icon-padding: 7px;
    --nav-size: calc(var(--icon-size) + 2*var(--icon-padding));
    --central-div: 55%;
    --font-size: 1.4vw;
    --font-color: white;
}
a {
    text-decoration: none;
}