:root {
    --icon-size: 40px;
    --icon-padding: 7px;
    --nav-size: calc(var(--icon-size) + 2*var(--icon-padding));
    --central-div: 55%;
    --font-size: calc(10px + 10 * ((100vw - 500px) / (866) ));
    --font-color: white;
}
a {
    text-decoration: none;
}