* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Fredericka the Great", cursive;
  /* scroll-behavior: smooth; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* MENU */

.menu-bg {
  background: #000;
}

.logo,
.logo h3 {
  font-size: 1.6rem;
  margin-left: 30px;
  color: #fff;
  align-self: center;
}

.menu {
  flex: 1;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu ul li {
  margin-right: 20px;
  padding: 10px;
}

.menu li img {
  width: 50px;
  padding: 5px;
}

.menu ul li a img:hover {
  background-color: #fff;
  border-radius: 30%;
  transition: 0.5s;
}

/* benner */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.banner-title h1,
.banner-title h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.banner-title h1 {
  font-size: 4rem;
}

.banner-img img {
  width: 200px;
  margin-top: 20px;
}

/* section sobre */

.content-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}
.content-title h3,
.content-info p {
  text-align: center;
  color: #fff;
}

.content-title h2 {
  font-size: 2.6rem;
  color: #fff;
}
.content-title h3 {
  font-size: 1.2rem;
  margin-left: 10px;
  align-self: flex-end;
}

.content-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-info img {
  width: 350px;
}

.content-info p {
  width: 400px;
  font-size: 1.8rem;
}
.black {
  padding: 40px;
  background: #000;
}


