* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* scroll-behavior: smooth; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* menu-mobile */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px 0;
  background: #000;

}

.menu img {
  width: 40px;
  margin-right: 50px;
  padding: 10px;
  transition: .8s;

}

.menu img:hover {
  border-radius: 20px;
  background: #C1C1C1;
}

#toggle {
  display: none;
}