* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* scroll-behavior: smooth; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* menu-mobile */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px 0;
  background: #000;
}

.menu img {
  width: 40px;
  margin-right: 50px;
  padding: 10px;
  transition: 0.8s;
}

.menu img:hover {
  border-radius: 20px;
  background: #c1c1c1;
}

.banner {
  width: 100%;
  background-image: url("./img/bg3.jpg");
}

.cont-banner {
  background-color: rgba(5, 1, 26, 0.9);
  padding: 120px 0;
}

.cont-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.color-banner h1, h2 {
  font-family: 'Fredericka the Great', cursive;
  color:rgb(188, 197, 245);
}

.color-banner h1{
  margin-bottom: 30px;
  font-size:56px;
 
}
.icon img{
  padding-top: 60px;
  width: 200px;
}
